#view {
  margin-top: 100px;
}

.wa-control-panel, .wa-user-view {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 0px;
}

.wa-widget, .wa-pagination, .wa-delete-user {
  margin-top: 20px;
}
